html
  head
  body
    if isLogin
      h1 Succesfull
      button.btn
        a(href='../../backdoor/index') Go index
    else
      h1 Retry
      button.btn
        a(href='../../backdoor') Go Back;
